// sprite image
@mixin sprite ($width, $height, $horizontal-offset, $vertical-offset) {
	$image-path: url(../images/sprite.png);
	background: $image-path no-repeat $horizontal-offset $vertical-offset;
	width: $width;
	height: $height;
}

// Carets
@mixin caret-up ($width, $height, $color) {
	border-width: 0 $width $height;
	border-color: transparent transparent $color;
	border-style: solid;
}
@mixin caret-down ($width, $height, $color) {
	border-width: $height $width 0;
	border-color: $color transparent transparent;
	border-style: solid;
}
@mixin caret-right ($width, $height, $color) {
	border-width: $height 0 $height $width;
	border-color: transparent transparent transparent $color;
	border-style: solid;
}
@mixin caret-left ($width, $height, $color) {
	border-width: $height $width $height 0;
	border-color: transparent $color transparent transparent;
	border-style: solid;
}

// Bullet

@mixin bullet ($size, $color) {
	content: '';
	width: $size;
	height: $size;
	border-radius: 100px;
	background: $color;
}

@mixin text-shadow($shadow...) {
  -webkit-text-shadow: $shadow; // iOS <4.3 & Android <4.1
          text-shadow: $shadow;
}